<h1>Add New Books<h1>



<%= form_with model: @book do |form| %>
    
    
    <h4>Title<h4>
    <%= form.text_field :title %>
    <%= @book.errors.full_messages_for(:title) %>
    <div>Confirm Title</div>
    <%= form.text_field :title_confirmation %>
    <%= @book.errors.full_messages_for(:title_confirmation) %>

    
    <h4>Description<h4>
    <%= form.text_area :body, size: "60x10" %>

    <%= @book.errors.full_messages_for(:body) %>
<div>
<label>
  <%= form.check_box :confirm %>
  <%= Book.human_attribute_name(:Confirm) %>
  <%= @book.errors.full_messages_for(:confirm) %>
</label>
</div>

    <div>
    <%= form.submit "Save" %>
    </div>

<% end %>